<web-app>  
  
<servlet>  
<servlet-name>HelloWorldServlet</servlet-name>  
<servlet-class>com.paliwal.HelloWorld</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>HelloWorldServlet</servlet-name>  
<url-pattern>/HelloWorldServlet</url-pattern>  
</servlet-mapping>  
  
</web-app>  